.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card {
  width: 400px;
  height: auto;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  overflow: hidden;
  border-radius: 10px;
  background-color: #000000;
  color: black
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-text {
  color: white;
}

.profile-card {
    max-width: 300px;
}

.profile-card img {
    max-width: 100%;
    height: auto;
}

.product-card {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}

.product-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.profile-card {
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgb(255, 255, 255);
  padding: 20px;
  transition: box-shadow 0.3s ease-in-out;
  text-align: center;
}

.profile-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.profile-card-header {
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.profile-card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.profile-card-text {
  font-size: 18px;
  margin-bottom: 10px;
}


.custom-carousel {
  max-height: 450px;
  overflow: hidden;
}

.custom-carousel img.carousel_image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.show-trip-title {
  color: black;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.show-trip-card {
  position: relative;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 30px;
  padding: 20px;
}

.show-trip-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-image: url("Backgrounds/ShowTrip.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
}

.buttons-container {
  position: absolute;
  bottom: 125px;
  left: 50%;
  transform: translateX(-50%);
}

#stop_image {
  height: 300px;
}

#carousel_image {
  height: 300px;
}